In [1]:
import os

In [15]:
## 파일 리스트 생성
file_list = os.listdir("../csv/2017")

1. 반복문을 이용해서 파일명들을 각각 print 
2. 각각 파일들을 pandas를 이용해서 파일을 로드하여 하나의 데이터프레임으로 결합
    - hint : read_csv(파일의 경로 + 파일의 이름)
3. 결합은 유니언 결합(concat)을 사용하여 결합
    - hint : 비어있는 데이터프레임을 생성하고 반복문에서 read_csv -> pd.concat()

In [22]:
## 반복문을 이용해서 파일명들을 각각 print 

## case1 (range 사용)
for i in range(0, 12, 1):
    print(file_list[i])

201701_expense_list.csv
201702_expense_list.csv
201703_expense_list.csv
201704_expense_list.csv
201705_expense_list.csv
201706_expense_list.csv
201707_expense_list.csv
201708_expense_list.csv
201709_expense_list.csv
201710_expense_list.csv
201711_expense_list.csv
201712_expense_list.csv

In [20]:
for i in range(0, len(file_list), 1):
    print(file_list[i])

201701_expense_list.csv
201702_expense_list.csv
201703_expense_list.csv
201704_expense_list.csv
201705_expense_list.csv
201706_expense_list.csv
201707_expense_list.csv
201708_expense_list.csv
201709_expense_list.csv
201710_expense_list.csv
201711_expense_list.csv
201712_expense_list.csv

In [21]:
## case2 (list 사용)
for i in file_list :
    print(i)

201701_expense_list.csv
201702_expense_list.csv
201703_expense_list.csv
201704_expense_list.csv
201705_expense_list.csv
201706_expense_list.csv
201707_expense_list.csv
201708_expense_list.csv
201709_expense_list.csv
201710_expense_list.csv
201711_expense_list.csv
201712_expense_list.csv

In [46]:
## 각각 파일들을 pandas를 이용해서 파일을 로드하여 하나의 데이터프레임으로 결합
## hint : read_csv(파일의 경로 + 파일의 이름)
print('../csv/2017/' + '201712_expense_list.csv')

../csv/2017/201712_expense_list.csv

In [47]:
import pandas as pd

In [44]:
file_path = "../csv/2017/" ## 문자열을 변수에 담아준다

total_df = pd.DataFrame() ## 비어있는 데이터프레임을 total_df에 저장

for i in file_list: ## file_list를 반복 -> 리스트 항목 하나하나씩 i에 넣어서
    print(file_path + i) ## file_path 문자열과 i의 값을 출력
    df = pd.read_csv(file_path + i) 
    ## file_path와 i를 합친 문자열 (상대주소)의 csv파일을 
    ## 데이터프레임화하여 df라는 변수에 저장

    total_df = pd.concat([total_df, df], axis='rows')\
    .reset_index(drop=True)

../csv/2017/201701_expense_list.csv
../csv/2017/201702_expense_list.csv
../csv/2017/201703_expense_list.csv
../csv/2017/201704_expense_list.csv
../csv/2017/201705_expense_list.csv
../csv/2017/201706_expense_list.csv
../csv/2017/201707_expense_list.csv
../csv/2017/201708_expense_list.csv
../csv/2017/201709_expense_list.csv
../csv/2017/201710_expense_list.csv
../csv/2017/201711_expense_list.csv
../csv/2017/201712_expense_list.csv

In [45]:
total_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [62]:
file_list_2 = os.listdir('../csv/2021/')
file_list_2

['202101_expense_list.csv',
 '202101_expense_list.json',
 '202101_expense_list.xlsx',
 '202101_expense_list.xml',
 '202102_expense_list.csv',
 '202102_expense_list.json',
 '202102_expense_list.xlsx',
 '202102_expense_list.xml',
 '202103_expense_list.csv',
 '202103_expense_list.json',
 '202103_expense_list.xlsx',
 '202103_expense_list.xml',
 '202104_expense_list.csv',
 '202104_expense_list.json',
 '202104_expense_list.xlsx',
 '202104_expense_list.xml',
 '202105_expense_list.csv',
 '202105_expense_list.json',
 '202105_expense_list.xlsx',
 '202105_expense_list.xml',
 '202106_expense_list.csv',
 '202106_expense_list.json',
 '202106_expense_list.xlsx',
 '202106_expense_list.xml',
 '202107_expense_list.csv',
 '202107_expense_list.json',
 '202107_expense_list.xlsx',
 '202107_expense_list.xml',
 '202108_expense_list.csv',
 '202108_expense_list.json',
 '202108_expense_list.xlsx',
 '202108_expense_list.xml',
 '202109_expense_list.csv',
 '202109_expense_list.json',
 '202109_expense_list.xlsx',
 '202109_expense_list.xml',
 '202110_expense_list.csv',
 '202110_expense_list.json',
 '202110_expense_list.xlsx',
 '202110_expense_list.xml',
 '202111_expense_list.csv',
 '202111_expense_list.json',
 '202111_expense_list.xlsx',
 '202111_expense_list.xml',
 '202112_expense_list.csv',
 '202112_expense_list.json',
 '202112_expense_list.xlsx',
 '202112_expense_list.xml']

In [64]:
for i in range(len(file_list_2)):
    if file_list_2[i][-3:] == "csv":
        print(file_list_2[i])

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv

In [67]:
for i in file_list_2:
    if i[-3:] == "csv":
        print(i)

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv

In [71]:
for i in file_list_2:
    if i.endswith('.csv'):
        print(i)

202101_expense_list.csv
202102_expense_list.csv
202103_expense_list.csv
202104_expense_list.csv
202105_expense_list.csv
202106_expense_list.csv
202107_expense_list.csv
202108_expense_list.csv
202109_expense_list.csv
202110_expense_list.csv
202111_expense_list.csv
202112_expense_list.csv

In [99]:
## 함수 생성
## 매개변수 2개 path, end_string
def list_df(path, end_string):
    ## file_list 생성
    file_list = os.listdir(path)

    ## 확장자가 end_string과 같은 경우의 리스트만 추출
    ## case1
    file_list_2 = []
    for i in file_list:
        if i.endswith(end_string):
            file_list_2.append(i)


    ## case2
    file_list_3 = [i for i in file_list if i.endswith(end_string)]
    print(file_list_2 == file_list_3)

    ## file_list_2의 리스트 항목들을 데이터프레이모하 하여
    ## 하나의 데이터프레임으로 결합

    ## 비어있는 데이터프레임 생성
    total_df = pd.DataFrame()

    ## file_list_2의 항목을 가지고 반복문 실행
    for i in file_list_2:
        ## path는 매개변수, i는 file_list_2 항목의 값
        if end_string == '.csv':
            df = pd.read_csv(path + i)
        elif end_string == '.json':
            df = pd.read_json(path + i)
        elif (end_string == '.xlsx') | (end_string == '.xls'):
            df = pd.read_excel(path +i)
        else:
            return '확장자가 잘못 입력 되었습니다.'
        ## 불러온 데이터프레임을 total_df에 단순한 행 결합
        total_df = pd.concat([total_df, df], axis=0, ignore_index=True)
    
    ## 합쳐진 데이터프레임을 리턴    
    return total_df

In [96]:
list_df('../csv/2017/', '.csv').info()

True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [97]:
df_2017 = list_df('../csv/2017/', '.csv')
df_2018 = list_df('../csv/2018/', '.csv')

True
True

In [92]:
## json 데이터를 데이터프레임으로 로드
json_data = pd.read_json("../csv/2019/201901_expense_list.json")
json_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6392 entries, 0 to 6391
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                6392 non-null   int64
 1   title              6392 non-null   object
 2   url                6392 non-null   object
 3   dept_nm_lvl_1      6392 non-null   object
 4   dept_nm_lvl_2      6392 non-null   object
 5   dept_nm_lvl_3      6392 non-null   object
 6   dept_nm_lvl_4      6392 non-null   object
 7   dept_nm_lvl_5      6392 non-null   object
 8   exec_yr            6392 non-null   int64
 9   exec_month         6392 non-null   int64
 10  expense_budget     318 non-null    float64
 11  expense_execution  306 non-null    float64
 12  category           6392 non-null   object
 13  dept_nm_full       6392 non-null   object
 14  exec_dt            6392 non-null   object
 15  exec_loc           6392 non-null   object
 16  exec_purpose       6392 non-null   object
 17  target_nm          6392 non-null   object
 18  payment_method     6392 non-null   object
 19  exec_amount        6392 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 998.9+ KB

In [94]:
## xlsx 파일을 로드하기 위한 엔진 라이브러리를 설치
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\intco\appdata\local\programs\python\python311\lib\site-packages (3.1.1)
Requirement already satisfied: et-xmlfile in c:\users\intco\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (1.1.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [93]:
## 엑셀 데이터를 데이터프레임으로 로드
excel_data = pd.read_excel("../csv/2020/202001_expense_list.xlsx")
excel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5282 entries, 0 to 5281
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                5282 non-null   int64
 1   title              5282 non-null   object
 2   url                5282 non-null   object
 3   dept_nm_lvl_1      5282 non-null   object
 4   dept_nm_lvl_2      5282 non-null   object
 5   dept_nm_lvl_3      4198 non-null   object
 6   dept_nm_lvl_4      1272 non-null   object
 7   dept_nm_lvl_5      81 non-null     object
 8   exec_yr            5282 non-null   int64
 9   exec_month         5282 non-null   int64
 10  expense_budget     355 non-null    float64
 11  expense_execution  276 non-null    float64
 12  category           224 non-null    object
 13  dept_nm_full       5282 non-null   object
 14  exec_dt            5282 non-null   object
 15  exec_loc           5236 non-null   object
 16  exec_purpose       5282 non-null   object
 17  target_nm          5257 non-null   object
 18  payment_method     5282 non-null   object
 19  exec_amount        5282 non-null   int64
dtypes: float64(2), int64(4), object(14)
memory usage: 825.4+ KB

In [101]:
df_2019 = list_df('../csv/2019/', '.json')
df_2020 = list_df('../csv/2020/', '.xlsx')

True
True

In [103]:
## 모듈 로드 
import list_pandas

In [ ]:
list_pandas.list_df('../csv/2017/', '.csv')

In [108]:
## 파일 수정 시 
import imp
imp.reload(list_pandas)