### mysql과 python의 연동
1. 라이브러리 설치
2. sql 서버의 정보를 입력
3. sql 서버에 접속
4. sql 쿼리문을 이용하여 데이터를 CRUD 작업

In [26]:
## 라이브러리 설치
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\intco\appdata\local\programs\python\python311\lib\site-packages (1.0.2)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
## 라이브러리 로드
import pymysql
import pandas as pd

In [28]:
## 서버 정보와 서버의 접속
_db = pymysql.connect(
    host = '192.168.0.90',
    user = 'ezen',
    password = '1234',
    db = 'test',
    port = 3306
)

In [29]:
## cursor 생성
## sql 쿼리문을 실행 시키기 위해 만들어야되는 필수 변수
## DicCursor : 쿼리문이 실행되고 나온 결과물을 딕셔너리 형태로 받아온다
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
sql = """ 
    SELECT
    *
    FROM
    corona
"""

cursor.execute(sql)

result = cursor.fetchall()
print(result)

In [31]:
pd.DataFrame(result)

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,None,,
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,,
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,,
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,,
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,,
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335,3.318000336
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647,3.458499309
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998,3.621744273
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395,3.804174536
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144,3.919308057

In [32]:
## insert 문 
sql = """
    INSERT INTO
    user
    VALUES(
    'test',
    '1234',
    'test',
    0
    )
"""

cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry 'test' for key 'user.PRIMARY'")

In [ ]:
_db.commit()

In [ ]:
_id = input('id를 입력하시오')
_pass = input('password를 입력하시오')
_name = input('name을 입력하시오')
_gender = int(input('gender을 입력하시오'))

sql = """
    INSERT INTO
    user
    VALUES
    (%s, %s, %s, %s)
"""

sql2 = f"""
    INSERT INTO
    user
    VALUES
    ('{_id}', '{_pass}', {_name}', {_gender}')
"""

cursor.execute(sql, [_id, _pass, _name, _gender])
## cursor.execute(sql2)
_db.commit()

In [25]:
## update 문 

sql = """
    UPDATE 
    user
    SET
    `password` = %s
    WHERE
    `id` = %s
"""

_value = input()
_id = input()

cursor.execute(sql, [_value, _id])
_db.commit()