### Lecture 2.1

##### Using Python As A Calculator

In [2]:
17 // 3

5

In [1]:
17 % 3

2

In [3]:
12 / 5

2.4

##### Numbers can be different "types"

In [8]:
## Integer numbers
type(5)

int

In [9]:
## Real numbers
float(12) / 5

2.4

In [5]:
12.0 / 5

2.4

In [10]:
## Complex numbers
type(3 + 2j)

complex

In [7]:
(2 + 1j) ** 2

(3+4j)

##### Strings

In [13]:
## Use \ to escape quotes
'This is a codon, isn\'t it?'

"This is a codon, isn't it?"

In [19]:
## Strings can span multiple lines with triple quotes
"""
>dna1
atgacgtacgtacgtacgtactagctataattagc
atgatdgdgtata
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctata
"""

'\n>dna1\natgacgtacgtacgtacgtactagctataattagc\natgatdgdgtata\n>dna2\nttggtgtcgccgcccccgcgttttaatatgcgctata\n'

In [18]:
## Printings Strings Nicely
print("""\
>dna1
atgacgtacgtacgtacgtactagctataattagc
atgatdgdgtata
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctata
""")

>dna1
atgacgtacgtacgtacgtactagctataattagc
atgatdgdgtata
>dna2
ttggtgtcgccgcccccgcgttttaatatgcgctata

### Lecture 2.2

##### More String Operators

In [29]:
dna = "gatcccccgatattattgc"
dna[0]

'g'

In [24]:
dna [-1]

'c'

In [25]:
## the start is alwyas included, and the end always excluded
dna[0:3]

'gat'

In [27]:
## an omitted first index defaults to zero
dna[:3]

'gat'

In [28]:
## an omitted second index defaults to the size of the whole string being sliced
dna[2:]

'tcccccgatattattgc'

##### A Useful String Function

In [34]:
## len() returns the length of a string
dna = "acgctcgcgcggcgatagctgatcgatcggcgcgctttttttttaaag"
len(dna)

48

In [37]:
## Objects can also perform specific actions (functions), called methods
dna.count('gc')

8

In [40]:
## Only the first occurence of 'ag' is reported
dna.find('ag')

16

In [41]:
## Start looking at position seventeen
dna.find('ag', 17)

46

In [42]:
## Start looking by the end of DNA string
dna.rfind('ag')

46

##### More Useful String Functions

In [43]:
dna.islower()

True

In [45]:
dna.isupper()

False

In [47]:
## Replace any character in the first argument of the method to the next character in the second argument of the method
dna.replace('a', 'A')

'AcgctcgcgcggcgAtAgctgAtcgAtcggcgcgctttttttttAAAg'

### Lecture 2.3

### Lecture 2.4

##### Reading Input

In [1]:
dna = input("Enter a DNA sequence, please:")

In [2]:
dna

'agtagcatgaggagggacttc'

In [3]:
my_number = input("Please enter a number:")

In [5]:
type(my_number)

str

In [6]:
actual_number = int(my_number)

In [7]:
type(actual_number)

int