### 파이썬 프로그래밍의 기초, 자료형

##### 02-1 숫자형

- 정수형 (integer)
- 실수형 (Floating-point)
- 8진수 (Octal) -> 0o 또는 0O로 시작
- 16진수 (Hexadecimal) -> 0x로 시작

- x의 y제곱을 나타내는 ** 연산자
- 나눗셈 후 나머지를 반환하는 % 연산자
- 나눗셈 후 몫을 반환하는 // 연산자

##### 02-2 문자열 자료형

- 큰따옴표 (")로 양쪽 둘러싸기
- 작은따옴표 (')로 양쪽 둘러싸기
- 큰따옴표 3개를 연속 (""")으로 써서 양쪽 둘러싸기
- 작은따옴표 3개를 연속 (''')으로 써서 양쪽 둘러싸기

- 백슬래시 \ 사용
    - 작은따옴표 (')나 큰따옴표(")를 문자열에 포함시키는 또다른 방법
    - 백슬래시 \를 작은따옴표나 큰따옴표 앞에 삽입하면 문자열을 둘러싸는 기호의 의미가 아니라 문자 그자체를 뜻하게 됨

In [2]:
say = "\"Python is very easy.\" he says."
print(say)

"Python is very easy." he says.

- 여러 줄인 문자열을 변수에 대입
    - 줄을 바꾸기 위한 이스케이프 코드 \n 삽입
    - 연속된 작은따옴표 3개 또는 큰따옴표 3개 사용하기

In [3]:
multiline = "Life is too short\nYou need python."
print(multiline)

Life is too short
You need python.

In [5]:
multiline = '''
    Life is too short
    You need python
    '''

print(multiline)

    Life is too short
    You need python

In [6]:
multiline = """
    Life is too short
    You need python
    """

print(multiline)

    Life is too short
    You need python

- 문자열 연산하기
    - 문자열 더하기 (+)
    - 문자열 반복 (*)

- 문자열 길이 구하기 (len)

- 문자열 인덱싱 (파이썬은 0부터 숫자를 센다)
    - a[0] 첫 번째 문자
    - a[-0] 첫 번째 문자
    - a[-1] 뒤에서부터 첫 번째 문자

- 문자열 슬라이싱 
    - [시작번호:끝번호] -> 끝 번호에 해당하는 것은 포함하지 않음
    - [시작번호:] -> 시작 번호부터 그 문자열의 끝까지
    - [:] -> 문자열의 처음부터 끝까지

In [14]:
# [시작번호:-7] -> 시작 번호부터 [-8]까지이고 [-7]은 포함하지 않는다
a = 'Life is too short, You need Python'
a[:-7]

'Life is too short, You need'

- 문자열은 immutable한 자료형

In [13]:
## Pithon 문자열을 Python 이라는 새로운 문자열을 만드는 방법
a = "Pithon"
a[:1] + 'y' + a[2:]

'Python'

- 문자열 포매팅
- 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해주는 것
    - 숫자 바로 대입 (%d)
    - 문자열 바로 대입 (%s) 
    - 숫자 값을 나타내는 변수로 대입
    - 2개 이상의 값 넣기

In [15]:
## 숫자 바로 대입
"I eat %d apples." %3

'I eat 3 apples.'

In [17]:
## 문자열 바로 대입
## 문자열을 대입할 때는 큰따옴표나 작은따옴표를 반드시 써야 함
"I eat %s apples." % "five"

'I eat five apples.'

In [18]:
## 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." %number

'I eat 3 apples.'

In [19]:
## 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

- %s 코드
    - 어떤 형태의 값이든 변환해 넣을 수 있음
    - 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문

In [21]:
## %d와 %를 같이 쓸 때는 %%를 사용
"Error is %d%%." %98

'Error is 98%.'

- 포맷 코드와 숫자 함께 사용하기
    - 정렬과 공백
    - 소수점 표현하기

In [22]:
## 정렬과 공백
## %10s는 전체 길이가 10개인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨 두라는 의미
"%10s" % "hi"

'        hi'

In [23]:
## %-10s는 반대쪽인 왼쪽 정렬
"%-10sjane." % "hi"

'hi        jane.'

In [25]:
## 소수점 표현하기
## 소수점 네 번째 자리까지만 나타내고 싶은 경우 (소수점 포인트 뒤에 숫자 4 입력)
"%0.4f" % 3.42134234

'3.4213'

In [26]:
## 소수점 네 번째 자리까지만 표시하고
## 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬
"%10.4f" % 3.42134234

'    3.4213'

- format 함수를 사용한 포매팅
    - 숫자 바로 대입하기
    - 문자열 바로 대입하기
    - 숫자 값을 가진 변수로 대입하기
    - 2개 이상의 값 넣기
    - 이름으로 넣기
    - 인덱스와 이름을 혼용해서 넣기

In [27]:
## 숫자 바로 대입하기
"I eat {0} apples." .format(3)

'I eat 3 apples.'

In [28]:
## 문자열 바로 대입하기
"I eat {0} apples." .format("five")

'I eat five apples.'

In [29]:
## 숫자 값을 가진 변수로 대입하기
number = 3
"I eat {0} apples." .format(number)

'I eat 3 apples.'

In [33]:
## 2개 이상의 값 넣기
## 문자열의 {0}, {1}과 같은 인덱스 항목이 format 함수의 입력값으로 순서에 맞게 바뀜
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days." .format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [35]:
## 이름으로 넣기
## 반드시 name = value와 같은 형태의 입력값이 있어야만 함
"I ate {number} apples. so I was sick for {day} days." .format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

In [37]:
## 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days." .format(10, day = 3)

'I ate 10 apples. so I was sick for 3 days.'

- 정렬
    - 왼쪽 정렬
    - 오른쪽 정렬
    - 가운데 정렬

In [38]:
## 왼쪽 정렬 :<10
"{0:<10}".format("hi")

'hi        '

In [39]:
## 오른쪽 정렬 :>10
"{0:>10}".format("hi")

'        hi'

In [40]:
## 가운데 정렬 :^10
"{0:^10}".format("hi")

'    hi    '

- 공백 채우기
- 소수점 표현하기
- { 또는 } 문자 표현하기

In [45]:
## 공백 채우기
## 채워 넣을 문자 값은 정렬 문자 <, >, ^ 바로 앞에 넣어야 함
"{0:=^10}".format("hi")

'====hi===='

In [46]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

In [47]:
## 소수점 표현하기
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [49]:
## 자릿수를 10으로 맞출 수도 있음
"{0:10.4f}".format(y)

'    3.4213'

In [53]:
## { 또는 } 문자 표현하기
## { }와 같은 중괄호 문자를 포매팅 문자가 아닌 문자 그대로 사용하고 싶은 경우에는 {{ }}처럼 2개를 연속해서 사용
"{{ and }}".format()

'{ and }'

- f 문자열 포매팅
    - 문자열 앞에 f 접두사를 붙이면 됨
    - 변수 값을 생성한 후에 그 값을 참조할 수 있음

In [54]:
## f 문자열 포매팅
name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [55]:
age = 30
f"나는 내년이면 {age + 1}살이 된다."

'나는 내년이면 31살이 된다.'

In [60]:
## f 문자열 포매팅에서 딕셔너리 사용
d = {
    'name' : '홍길동',
    'age' : 30
    }
f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [64]:
## f 문자열 정렬
f"{'hi':<10}" # 왼쪽 정렬

'hi        '

In [62]:
f"{'hi':>10}" # 오른쪽 정렬

'        hi'

In [63]:
f"{'hi':^10}" # 가운데 정렬

'    hi    '

In [65]:
## f 문자열에서 공백 채우기
f"{'hi':=^10}" # 가운데 정렬하고 '=' 문자로 공백 채우기

'====hi===='

In [66]:
f"{'hi':!<10}" # 왼쪽 정렬하고 '!' 문자로 공백 채우기

'hi!!!!!!!!'

In [67]:
## f 문자열에서 소수점 표현
y = 3.42134234
f"{y:0.4f}" # 소수점 4자리까지만 표현

'3.4213'

In [68]:
f"{y:10.4f}" # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [69]:
## f 문자열에서 { } 문자 표시
f"{{ and }}"

'{ and }'

- 문자열 관련 함수들 (문자열 내장 함수)
    - 문자 개수 세기 (count)
    - 위치 알려주기1 (find)
    - 위치 알려주기2 (index)
    - 문자열 삽입 (join)
    - 소문자를 대문자로 바꾸기 (upper)
    - 대문자를 소문자로 바꾸기 (lower)
    - 왼쪽 공백 지우기 (lstrip)
    - 오른쪽 공백 지우기 (rstrip)
    - 양쪽 공백 지우기 (strip)
    - 문자열 바꾸기 (replace)
    - 문자열 나누기 (split)

In [70]:
## 문자 개수 세기 (count)
a = "hobby"
a.count('b')

2

In [71]:
## 위치 알려주기1 (find)
a = "Python is the best choice"
a.find('b')

14

In [73]:
a.find('k') # 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환

-1

In [76]:
## 위치 알려주기2 (index)
a = "Life is too short" 
a.index('t') # 문자열 중 문자 t가 맨 처음으로 나온 위치를 반환

8

In [ ]:
a.index('k') # 문자나 문자열이 존재하지 않는다면 오류 발생

In [78]:
## 문자열 삽입 (join)
",".join('abcd')

'a,b,c,d'

In [80]:
",".join(['a', 'b', 'c', 'd']) # join 함수의 입력으로 리스트를 사용하는 예

'a,b,c,d'

In [82]:
## 왼쪽 공백 지우기 (lstrip)
a = " hi "
a.lstrip() # 왼쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지움

'hi '

In [83]:
## 오른쪽 공백 지우기 (rstrip)
a.rstrip() # dhfms쪽에 있는 한 칸 이상의 연속된 공백들을 모두 지움

' hi'

In [85]:
# 문자열 바꾸기 (replace)
a = "Life is too short"
a.replace("Life", "Your leg") # replace(바뀌게 될 문자열, 바꿀 문자열)

'Your leg is too short'

In [92]:
## 문자열 나누기 (split)
a = "Life is too short"
a.split() # 괄호 안에 아무 값도 넣어 주지 않으면 공백 (스페이스, 탭, 엔터 등)을 기준으로 문자열을 나누어 줌

['Life', 'is', 'too', 'short']

In [91]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

##### 02-3 리스트 자료형

- 리스트를 만들 때는 대괄호 ([])로 감싸주고 
- 각 요솟값은 쉼표 (,)로 구분

- 비어 있는 리스트 ([])도 생성 가능
    - a = list()로 생성
- 리스트 자체를 요솟값으로 가질 수도 있음
    - a = [1, 2, ,['Life', 'is']]

- 리스트의 인덱싱

In [93]:
## 리스트의 인덱싱
a = [1, 2, 3]
a[0]

1

In [94]:
a[0] + a[2]

4

In [96]:
a[-1] # 리스트 a의 마지막 요솟값

3

In [100]:
## 리스트 a에 포함된 ['a', 'b', 'c'] 리스트에서 'a' 값을 인덱싱을 사용해 끄집어 내는 방법
a = [ 1, 2, 3, ['a', 'b', 'c']] 
a[-1][0]

'a'

In [102]:
## 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [103]:
a[2][2][0] # 'Life' 문자열만 끄집어 내는 방법

'Life'

- 리스트의 슬라이싱

In [104]:
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [105]:
## 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [107]:
a[3][:2] # ['a', 'b', 'c']의 첫 번째 요소부터 세 번째 요소 직전까지의 값

['a', 'b']

- 리스트 연산하기
    - 더하기 (+)
    - 반복하기 (*)
    - 길이구하기 (len)

In [113]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [114]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [111]:
len(a)

3

- 리스트의 수정과 삭제

In [115]:
## 리스트의 값 수정
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [117]:
## del 함수 사용해 리스트 요소 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [119]:
## 슬라이싱 기법을 사용하여 리스트의 요소 여러 개를 한꺼번에 삭제하기
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

- 리스트 관련 함수들
    - 리스트에 요소 추가 (append)
    - 리스트 정렬 (sort)
    - 리스트 뒤집기 (reverse)
    - 위치 반환 (index)
    - 리스트에 요소 삽입 (insert)
    - 리스트 요소 제거 (remove)
    - 리스트 요소 끄집어내기 (pop)
    - 리스트에 포함된 요소 x의 개수 세기 (count)
    - 리스트 확장 (extend)

In [129]:
## 리스트에 요소 추가 (append)
a = [1, 2, 3]

In [130]:
a.append(4)
a

[1, 2, 3, 4]

In [131]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [134]:
## 리스트 정렬 (sort)
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [136]:
## 리스트 뒤집기 (reverse)
a = ['a', 'c', 'b']
a.reverse() # 현재의 리스트를 그대로 거꾸로 뒤집음
a

['b', 'c', 'a']

In [137]:
## 위치 반환 (index)
a = [1, 2, 3]
a.index(3) # index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려줌

2

In [138]:
a.index(1)

0

In [ ]:
a.index(0) # 리스트에 존재하지 않는 값은 오류 발생

In [141]:
## 리스트에 요소 삽입 (insert)
a = [1, 2, 3]
a.insert(0, 4) # insert(a, b) -> a번쨰 위치에 b를 삽입하는 함수
a

[4, 1, 2, 3]

In [144]:
## 리스트 요소 제거 (remove)
a = [1, 2, 3, 1, 2, 3]
a.remove(3) # remove(x) -> 리스트에서 첫 번째로 나오는 x를 삭제
a

[1, 2, 1, 2, 3]

In [145]:
a.remove(3) # 한 번 더 실행하면 다시 3이 삭제
a

[1, 2, 1, 2]

In [147]:
## 리스트 요소 끄집어내기 (pop)
a = [1, 2, 3] 
a.pop() # pop() -> 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제

3

In [148]:
a

[1, 2]

In [149]:
a = [1, 2, 3]
a.pop(1) # a[1] 값을 끄집어 냄

2

In [150]:
a

[1, 3]

In [151]:
## 리스트에 포함된 요소 x의 개수 세기 (count)
a = [1, 2, 3, 1]
a.count(1) # count(x) -> 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려줌

2

In [152]:
## 리스트 확장 (extend)
## extend(x) -> x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 됨
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

##### 02-4 튜플 자료형

- 리스트와 다른 점
    - 리스트는 [ ]으로 둘러싸지만 튜플은 ()으로 둘러쌈
    - 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없음

In [153]:
## 튜플의 모습
t1 = ()
t2 = (1, ) # 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마 (,)를 반드시 붙여야 함
t2 = 1, 2, 3 # 괄호 ( )를 생략해도 무방

- 튜플 인덱싱하기

In [155]:
t1 = (1, 2, 'a', 'b')
t1[0]

1

- 튜플 슬라이싱하기

In [156]:
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

- 튜플 더하기

In [157]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2

(1, 2, 'a', 'b', 3, 4)

- 튜플 곱하기

In [158]:
t2 = (3, 4)
t2 * 3

(3, 4, 3, 4, 3, 4)

- 튜플 길이 구하기

In [159]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

##### 02-5 딕셔너리 자료형

- 각각의 요소는 Key : Value 형태로 이루어져 있고 쉼표 (,)로 구분
    - Key에는 변하지 않는 값 사용
    - Value에는 변하는 값과 변하지 않는 값 모두 사용

In [160]:
## Value에 리스트도 넣을 수 있음
a = {'a' : [1, 2, 3]}

- 딕셔너리 쌍 추가하기

In [165]:
## 딕셔너리 쌍 추가하기
a = {1: 'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [166]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [167]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

- 딕셔너리 요소 삭제하기

In [168]:
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

- 딕셔너리에서 Key 사용해 Value 얻기
- 딕셔너리변수이름[Key]

In [170]:
grade = {
    'pey' : 10,
    'julliet' : 90
}

grade['julliet']

90

- 딕셔너리 만들 때 주의할 사항

In [172]:
## 동일한 Key가 2개 존재할 경우 1 : 'a' 쌍이 무시 됨
a = {1 : 'a', 1 : 'b'}
a

{1: 'b'}

In [173]:
## Key에 리스트는 쓸 수 없음 (변하는 값이기 때문)
## 하지만 튜플은 Key로 쓸 수 있음 (변하지 않는 값이기 때문)

- 딕셔너리 관련 함수들
    - Key 리스트 만들기 (keys)
    - Value 리스트 만들기 (values)
    - Key, Value 쌍 얻기 (items)
    - Key : Value 쌍 모두 지우기 (clear)
    - Key로 Value 얻기 (get)
    - 해당 Key가 딕셔너리 안에 있는지 조사하기 (in)

In [175]:
## Key 리스트 만들기 (keys)

In [ ]:
## Value 리스트 만들기 (values)

In [ ]:
## Key, Value 쌍 얻기 (items)

In [ ]:
## Key : Value 쌍 모두 지우기 (clear)

In [ ]:
## Key로 Value 얻기 (get)

In [174]:
## 해당 Key가 딕셔너리 안에 있는지 조사하기 (in)