### 판다스 데이터프레임과 시리즈

##### 3-1 나만의 데이터 만들기

(1) 시리즈와 데이터프레임 직접 만들기

In [4]:
## 시리즈 만들기
import pandas as pd
s = pd.Series(['banana', '42'])
print(s)

0    banana
1        42
dtype: object

In [5]:
## 시리즈를 생성할 때 문자열을 인덱스로 지정 가능
## Series의 index 인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달
s = pd.Series(['Wes Mckinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes Mckinney', 'Creator of Pandas'], index = ['Person', 'Who'])
print(s)

0         Wes Mckinney
1    Creator of Pandas
dtype: object
Person         Wes Mckinney
Who       Creator of Pandas
dtype: object

(2) 데이터프레임 만들기

In [12]:
## 데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '2876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16]'],
    'Age' : [37, 61]
})

print(scientists)

                Name    Occupation        Born         Died  Age
0  Rosaline Franklin       Chemist  1920-07-25   1958-04-16   37
1     William Gosset  Statistician  2876-06-13  1937-10-16]   61

In [13]:
## 인덱스를 따로 지정하려면 index 인자에 리스트를 전달
## columns 인자를 사용하면 데이터프레임의 열 순서를 지정 가능
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '2876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16]'],
        'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age         Died
Rosaline Franklin       Chemist  1920-07-25   37   1958-04-16
William Gosset     Statistician  2876-06-13   61  1937-10-16]

In [15]:
## 딕셔너리는 Key와 Value 값으로 이루어진 한 쌍의 데이터들의 순서는 보장하지 않음
## 순서가 보장된 딕셔너리를 전달하려면 OrderedDict 사용
from collections import OrderedDict

scientiste = pd.DataFrame(OrderedDict([
        ('Name', ['Rosaline Franklin', 'William Gosset']),
        ('Occupation', ['Chemist', 'Statistician']),
        ('Born', ['1920-07-25', '2876-06-13']),
        ('Died', ['1958-04-16', '1937-10-16]']),
        ('Age', [37, 61])
])
)

print(scientists)

                     Occupation        Born  Age         Died
Rosaline Franklin       Chemist  1920-07-25   37   1958-04-16
William Gosset     Statistician  2876-06-13   61  1937-10-16]

##### 3-2 시리즈 다루기 기초

(1) 데이터프레임에서 시리즈 선택하기

In [16]:
## 변수 scientist에 데이터 프레임 준비
scientists = pd.DataFrame(
    data = {
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '2876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16]'],
        'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)

print(scientists)

                     Occupation        Born  Age         Died
Rosaline Franklin       Chemist  1920-07-25   37   1958-04-16
William Gosset     Statistician  2876-06-13   61  1937-10-16]

In [19]:
## 데이터프레임에서 시리즈를 선택하려면 loc 속성에 인덱스를 전달
first_row = scientists.loc['William Gosset']
type(first_row)

pandas.core.series.Series

In [21]:
## first_row 출력
## 데이터프레임을 만들 때 Age 열에 정수형 리스트를 전달해도 시리즈를 출력해 보면 오브젝트로 인식
print(first_row)

Occupation    Statistician
Born            2876-06-13
Age                     61
Died           1937-10-16]
Name: William Gosset, dtype: object

(2) 시리즈 속성과 메서드 사용하기

- index
- values
- keys

In [23]:
## index 속성 사용하기
## 시리즈의 인덱스가 저장
print(first_row.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [24]:
## values 속성 사용하기
## 시리즈의 데이터가 저장
print(first_row.values)

['Statistician' '2876-06-13' 61 '1937-10-16]']

In [25]:
## keys 메서드 사용하기
## keys 메서드는 index 속성과 같은 역할
print(first_row.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [26]:
## index 속성 응용하기
## index 속성의 첫 번째 값을 추출하려면
print(first_row.index[0])

Occupation

In [27]:
## keys 메서드 응용하기
## keys 메서드의 결괏값을 이용하여 인덱스의 첫 번째 값을 추출하는 방법
print(first_row.keys()[0])

Occupation

(3) 시리즈의 기초 통계 메서드 사용하기

- mean (산술 평균 반환)
- min (최솟값 반환)
- max (최댓값 반환)
- midean (중간값 반환)
- std (표본표준편차)
- append (2개 이상의 시리즈 연결)
- describe (요약 통계량 계산)
- drop_duplicates (중복값이 없는 시리즈 반환)
- equals (시리즈에 해당 값을 가진 요소가 있는지 확인)
- get_values (시리즈 값 구하기, values 속성과 동일)
- isin (시리즈에 포함된 값이 있는지 확인)
- replace (특정 값을 가진 시리즈 값을 교체)
- sample (시리즈에서 임의의 값을 반환)
- sort_values (값을 정렬)
- to_frame (시리즈를 데이터프레임으로 변환)

In [30]:
## scientists의 Age 열을 추출
ages = scientists['Age']
print(ages)

##  mean, min, max, std 매서드 사용하기
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

##### 3-3 시리즈 다루기 응용

(1) 시리즈와 불린 추출 (추출할 데이터의 정환한 인덱스를 모르는 경우에)

In [33]:
## scientists.csv 데이터 불러오기
scientists = pd.read_csv('../data/scientists.csv')

In [34]:
## 통계 수치의 결괏값을 이용하여 불린 추출 진행
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [39]:
## 평균 나이보다 나이가 많은 사람의 데이터를 추출하려면
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [37]:
## 1, 2, 3, 7의 인덱스의 데이터가 참이라는 것을 알 수 있음
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [38]:
## 불린 추출
## step1 -> 리스트 형태로 참이나 거짓말을 담아 시리즈에 전달
## step2 -> 참인 인덱스의 데이터만 추출
manual_bool_values = [True, True, False, True, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
3    66
4    56
5    45
7    77
Name: Age, dtype: int64

(2) 시리즈와 브로드캐스팅

- 브로드캐스팅 (시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것
- 시리즈는 벡터의 한 종류

In [42]:
## 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행
print(ages + ages)
print(ages * ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [43]:
## 벡터의 모든 값에 스칼라를 적용하여 브로드캐스팅
print(ages + 100)
print(ages * 2)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [50]:
## 길이가 서로 다른 벡터를 연산
## 시리즈와 시리즈를 연산하는 경우 같은 인덱스의 값만 계산

## 데이터의 개수가 2개인 시리즈와 
## 데이터의 개수가 8개인 시리즈를 더한 것
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [51]:
## 결괏값을 살펴보면 인덱스가 일치한 0, 1만 계산
## 나머지 인덱스는 계산 할 수 없기 때문에 누락값 (Nan)으로 처리
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

(3) sort_index 메서드를 사용

In [53]:
## ascending 인자로 False를 전달하여 인덱스 역순으로 데이터를 정렬
rev_ages = ages.sort_index(ascending = False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [54]:
## 인덱스 순서대로 정렬된 ages와 인덱스 역순으로 정렬된 rev_ages를 연산하면
## 일치하는 인덱스의 값끼리 수행
## ages * 2와 결과 동일
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

##### 3-4 데이터프레임 다루기

(1) 불린 추출과 브로드캐스팅

In [61]:
## 불린 추출하기
## 데이터프레임도 불린 추출 가능
## 데이터프레임의 Age 열에서 Age 열의 평균보다 높은 행만 출력
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [63]:
## 참, 거짓을 담은 리스트를 bool 벡터라고 부름
## 만약 bool 벡터의 길이가 데이터프레임의 행 길이보다 짧으면 bool 벡터의 길이만큼만 연산

## 데이터프레임의 loc 속성에 길이가 4인 bool 벡터를 전달
print(scientists.loc[[True, True, False, True]])

IndexError: Boolean index has wrong length: 4 instead of 8

(2) 브로드캐스팅하기

In [64]:
## 데이터프레임에 스칼라 연산을 적용하면
## 정수 데이터는 2를 곱한 숫자
## 문자열 데이터는 문자열이 2배로
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

##### 3-5 시리즈와 데이터프레임의 데이터 처리하기

(1) 시리즈와 데이터프레임의 데이터 처리하기

In [69]:
## 열의 자료형 바꾸기와 새로운 열 추가하기
## 날짜를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 datetime 자료형으로 바꾸는 것이 더 좋음

## Born과 Died 열의 자료형을 dateime이라는 자료형으로 바꾼 다음
## format 속성을 '%Y-%m-%d'로 지정하여 날짜 형식 지정
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [70]:
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [71]:
## 데이터프레임에 각각의 값을 새로운 열로 추가
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [72]:
## shape의 두 번째 값은 열의 크기를 의미
print(scientists.shape)

(8, 7)

In [73]:
## 얼마 동안 세상을 살다가 떠났는지 계산
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

(2) 시리즈, 데이터프레임의 데이터 섞기

In [74]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [75]:
## Age 열의 데이터를 섞으려면 random 라이브러리를 불러와야 함
## random 라이브러리에는 데이터를 섞어주는 shuffle 메서드가 있음
import random

random.seed(42) ## seed 매서드는 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

c:\Users\intco\AppData\Local\Programs\Python\Python311\Lib\random.py:380: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

(3) 데이터프레임의 열 삭제하기

In [76]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [77]:
## 데이터프레임에서 열을 삭제하려면 데이터프레임의 drop 메서드 사용
## Age 열을 삭제하려면
## step1 -> drop 메서드의 첫 번째 인자에 열 이름을 리스트에 담아서 전달
## step2 -> 두 번째 인자에는 axis=1을 전달
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

##### 3-6 데이터 저장하고 불러오기

(1) 데이터를 피클로 저장하기

- 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
- 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리

In [78]:
## to_pickle 매서드를 사용
## 저장 경로를 문자열로 전달

names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

In [79]:
## 데이터프레임도 피클로 저장 가능
scientists.to_pickle('../output/scientists_df.pickle')

In [82]:
## v피클 데이터는 반드시 read_pickle 메서드로 읽어 들여야 함
scientists_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientists_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [83]:
scientists_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

(2) 데이터를 CSV 파일과 TSV 파일로 저장하기

- CSV 파일은 데이터를 쉼표로 구분하여 저장한 파일
- TSV 파일은 데이터를 탭으로 구분하여 저장한 파일

In [84]:
## to_csv 메서드로 시리즈와 데이터프레임을 CSV 파일로 저장 가능
## sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하여 TSV파일로 지정
names.to_csv('../output/scientist_names_series.csv')
scientists.to_csv('../output/scientists_df.tsv', sep = '\t')

(3) 시리즈와 데이터프레임을 엑셀 파일로 저장하기

- 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장 불가능
- 엑셀 파일로 저장할 수 있는 데이터프레임으로 변환 필요
- 단, xls 파일로 저장하려면 xlwt 라이브러리가 필요
- xlsx 파일로 저장하려면 openpyxl 라이브러리가 필요

In [85]:
!pip install xlwt
!pip install openpyxl

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     -------------------------------------- 100.0/100.0 kB 5.6 MB/s eta 0:00:00
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting openpyxl
  Downloading openpyxl-3.1.1-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 249.8/249.8 kB 7.7 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.1

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [86]:
## 시리즈는 to_frame 메서드를 사용해 데이터프레임으로 변환한 다음 엑셀 파일로 저장
## 시리즈를 데이터프레임으로 변환한 다음 엑셀 파일 (확장자 xls, xlsx)로 저장
names_df = names.to_frame()

import xlwt
names_df.to_excel('../output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('../output/scientists_names_series_df.xlsx')

C:\Users\intco\AppData\Local\Temp\ipykernel_61792\486945886.py:6: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  names_df.to_excel('../output/scientists_names_series_df.xls')